<!DOCTYPE html>
<html ng-app="currencyCalc">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="yawn" content="">
    <meta name="riney" content="">

    <title>Eric Riner </title>

	  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/lodash.min.js"></script>
    <!--<script src="js/bootstrap.min.js"></script>-->
    <script src="js/angular.min.js"></script>
    <script src="js/ngStorage.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/money.min.js"></script>
    <script src="js/app.js"></script>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="css/grayscale.min.css" rel="stylesheet">
    <script src="js/app.js"></script>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i> Riner
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#currencyCalculator">Currency Calculator</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Personal</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Eric Riner</h1>
                        <p class="intro-text">
                            <br></p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Eric Riner</h2>
                <p>Eric Riner graduated from the University of Washington with a degree in <a href ="https://ischool.uw.edu/" > Informatics</a>. In the past year he has had several internships where he proved himself to be a
					valuable team member and competent programmer. </p>
				<p>Eric Riner's main intrest has been in databases and software development. He is excited to work with either relational or non-relational data. However, his holistic technology education has given him the skills necessary to approach 
					most IT fields.</p>	
				
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Contact Eric Riner</h2>
					<p>He is currently interviewing all around the greater Seattle area</p>
                    <a href="mailto:riney@uw.edu?Subject=In%20person%20interview" class="btn btn-default btn-lg">Interview Eric Riner</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="currencyCalculator" class="container content-section text-center">
        <div id="main" ng-controller="CalcController">
        <div id="header" ng-class="(netConnectivity == 1 || netConnectivity == 3) ? 'labelInactive' : 'labelActive'" class="container">
            <h2 class="text-center">Currency Calculator</h2>
            <br>
            <br>
        </div>
        <div id="dateHeader" class="container">
            <p ng-if="(netConnectivity == 1) || (netConnectivity == 3)" class="text-center">No Internet connection!</p>
        </div>
        <div class="container">
        <div class="row">
         <div id="leftcolumn" class="col-xs-6">
            <div class="form-group">
          		  <label for="currency1">Cash amount</label>
          		  <input ng-disabled="(netConnectivity == 1) || (netConnectivity == 3)" type="number" class="form-control" id="currency1" placeholder="type amount" ng-maxlength="10" step="0.01" ng-change="currencyChanged(moneyAmount, selectedCur)" ng-model="moneyAmount" input-block input-block-length="validLength">
            </div>
       </div>
       <div id="rightcolumn" class="col-xs-6">
          <div class="row">
             <label id="labelCash1" for="cash1">Currency:</label><br>
             <div class="col-xs-9">
               <select id="currencySelector" ng-disabled="(netConnectivity == 1) || (netConnectivity == 3)" class="form-control" ng-options="item.currency as item.currency for item in parsedList" name="category" id="cash1" ng-change="currencyChanged(moneyAmount, selectedCur)" ng-model="selectedCur" required></select>
             </div>
               <div class="col-xs-3">
               <!--<img id="selectedFlag" ng-if="(netConnectivity == 0) || (netConnectivity == 2)" ng-src="images/flags/48/{{selectedCur}}.png"></img>-->
             </div>
          </div>
      </div>
      </div>
    </div>
    <div id="dateHeader" class="container-fluid" ng-show="currencyList[0]">
      <p class="text-center">Exchange rates provided by Fixer.io</p>
    </div>
    <div id="infoText" ng-hide="currencyList[0]">
    <div id="textSuccess" ng-if="(netConnectivity == 0) || (netConnectivity == 2)">Type in the cash amount and choose your currency to see the exchange rates!</div><br>
    <div ng-if="(netConnectivity == 0) || (netConnectivity == 2)"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></div>
    <div id="textError" ng-if="(netConnectivity == 1) || (netConnectivity == 3)">An error has occured!<br>Please check your Internet connection!</div><br>
    <div ng-if="(netConnectivity == 1) || (netConnectivity == 3)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
    </div>
    <div id="currencyList" ng-show="currencyList[0]">
         <div ng-animate="'animate'" ng-repeat="curr in currencyList | myFormat: selectedCur" ng-class-even="'evenCurrencyStyle'" ng-class-odd="'oddCurrencyStyle'">
               <!--<img id="rowFlag" ng-src="images/flags/48/{{curr.currency}}.png"></img>&nbsp-->
               {{curr.rate}}
            <b>{{curr.currency}}</b> =
               {{curr.amount}}
            <b>{{curr.base}}</b>
        </div>
    </div>
</div>
    </section>

    <section id="contact" class="container content-section text-center">
          <div class="row">
           <div class="col-lg-8 col-lg-offset-2">
                <h2>Eric Riner has several hobbies too</h2>
                <p>He enjoys many extracurricular activities </p>
 			<p>Here is a small selection</p>
 		
  
               </p>
               <ul class="list-inline banner-social-buttons">
                   <li>
                         <a href="http://www.seattleboxinggym.com/" class="btn btn-default btn-lg"><i class="fa fa-hand-rock-o"></i> <span class="network-name">He Boxes here</span></a>
                     </li>
                     <li>
                         <a href="https://metierseattle.com/" class="btn btn-default btn-lg"><i class="fa fa-bicycle"></i> <span class="network-name">Races Bikes Here</span></a>
                     </li>
                    <li>
                        <a href="http://seattle.findwell.com/seattle-neighborhoods/seward-park/" class="btn btn-default btn-lg"><i class="fa fa-rebel"></i> <span class="network-name">Runs here</span></a>
                    </li>
                </ul>
            </div>
          </div>
      </section>

    <!-- Map Section -->
  

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Eric Riner 2017</p>
			<p>...</p>

        </div>
    </footer>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCt507kqzCNNWlco7qM6ieWf2hlqVqcnM8&sensor=false"></script>

    <!-- Theme JavaScript -->
    <script src="js/grayscale.min.js"></script>

</body>

</html>

